{% extends "trading/base.html" %}

{% load static %}

{% block main %}
    
        <div class="container" >
            <center>
                <div class="card" style="width: 24rem; background-color: rgba(0,77,64 ,.7); padding: 10px 40px; color: white;" >
                    <div class="card-header">
                        Password Reset
                    </div>
                    <div class="card-body">
                        <form action="{% url 'password_reset' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class = "exampleInputEmail1">Please enter your email. We will send a verification email shortly. </label>
                                <input type="email" name="email" maxlength="254" required id="id_email" class="form-control"  placeholder="Enter Email">
                            <div>
    
                            <br>
                            <button type="submit" class="btn btn-outline-warning" value="Send e-mail">Send E-mail</button>
                        </form>
                    </div>
                </div>
        </center>
    </div>
{% endblock  %}