  <!-- {% block navbar %} -->
    <!-- <nav class="navbar navbar-expand-lg navbar-dark primary-color pt-2 pb-2"> -->

    <!-- Navbar brand -->
    <!-- <a class="navbar-brand" href="#">blockfinder
      <img src="{% static 'trading/images/logo-4.png' %}" alt="" style="width: 50px; height: auto; padding-right: 20px;">
    </a> -->
   

    <!-- Collapse button -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- Collapsible content -->
    <!-- <div class="collapse navbar-collapse" id="basicExampleNav"> -->

      <!-- Links -->
      <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      -->
        <!-- Dropdown -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Contact</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->

      <!-- </ul> --> 
      <!-- Links -->

      <!-- Inline Email and Password login Form -->
      <!-- <form class="form-inline">
        <div class="md-form my-0">
          <span style="color: white; padding-right: 5px; font-size: small;"></span>
          <input class="form-control mr-sm-2" type="email" placeholder="email" aria-label="email" style="height: 30px; width: auto;">
          <span style="color: white; padding-right: 5px; font-size: small"></span>
          <input class="form-control mr-sm-2" type="password" placeholder="password" aria-label="password" style="height: 30px; width: auto;">
          <button type="submit" class="btn btn-primary btn-sm">login</button>
        </div>
      </form> 
    </div> -->
    <!-- Collapsible content -->

  <!-- </nav> -->
  <!-- {% endblock navbar %} -->